body {
  width: 700px;
  margin: 20px auto;
  background: #eee;
  color: #222;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 10px;
  border: none;
  outline: none;
  font: 15px monospace;
}

#tokens, #ast, #evaluate {
  margin-top: 20px;
  padding: 10px;
  background: #f4f4f4;
}

.token {
  margin-right: 4px;
  padding: 3px 4px;
  border: solid 1px #ddd;
  border-radius: 3px;
  font: 16px monospace;
  background: #fcfcfc;
}

.token .value {
  font-style: italic;
}

.token.identifier, .node.var {
  color: hsl(210, 60%, 60%);
  background: hsl(210, 70%, 95%);
  border-color: hsl(210, 50%, 80%);
}

.token.string, .node.string {
  color: hsl(40, 60%, 40%);
  background: hsl(40, 70%, 95%);
  border-color: hsl(40, 50%, 80%);
}

.token.number, .node.number {
  color: hsl(160, 60%, 40%);
  background: hsl(160, 70%, 95%);
  border-color: hsl(160, 50%, 75%);
}

.token.error {
  color: #c00;
  background: #fee;
  border-color: #eaa;
}

.token.end {
  font-size: 12px;
  color: #aaa;
}

.node {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 5px 10px;
  background: #fcfcfc;
  font: 14px sans-serif;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.node.var, .node.string, .node.number {
  font: 16px monospace;
}

/* The AST tree stuff is from http://codepen.io/Pestov/pen/BLpgm */

#ast {
  /* Expand box to contain floated nodes. */
  overflow: hidden;
}

/*
#ast ul {
  margin: 0;
  padding: 10px 0 0 0;
  background: hsla(0, 0%, 0%, 0.1);
}

#ast li {
  position: relative;
  display: inline-block;
  text-align: center;
}

#ast li + li {
  margin-left: 10px;
}

#ast li::before {
  z-index: 1;
  content: "";
  background: red;
  position: absolute;
  top: -20px;
  right: 50%;
  width: 50%;
  height: 20px;
  border-top: 1px solid #000;
}
*/

#ast ul {
  margin: 0;
  padding: 10px 0 0 0;
  position: relative;
}

#ast li {
  margin: 0;
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
}

#ast li + li {
  padding-left: 10px;
}

/* Horizontal bar. */
#ast li::before, #ast li::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: -20px;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

/* Vertical bar above top of node. */
#ast li::after {
  z-index: 1;
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

/* Remove vertical bar from root node. */
#ast > ul > li:only-child::before {
  display: none;
}

/* Remove space from the top of single children. */
#ast li:only-child {
  padding-top: 0;
}

/* Remove left connector from first child and right connector from last. */
#ast li:first-child::before,
#ast li:last-child::after {
  border: none;
}

/* Add back the vertical connector to the last nodes. */
#ast li:last-child::before {
  z-index: 1;
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

#ast li:first-child::after {
  z-index: 1;
  border-radius: 5px 0 0 0;
}

#evaluate {
  font: 24px monospace;
}
