* {
  box-sizing: border-box;
}

body {
  width: 700px;
  margin: 20px auto;
  background: #eee;
  color: #222;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: none;
  outline: none;
  font: 15px monospace;
}

#output {
  margin-top: 20px;
  padding: 10px;
  background: #f4f4f4;
}

.token {
  margin-right: 4px;
  padding: 3px 4px;
  border: solid 1px #ddd;
  border-radius: 3px;
  font: 16px monospace;
  background: #fcfcfc;
}

.token .value {
  font-style: italic;
}

.token.identifier {
  color: hsl(210, 60%, 60%);
}

.token.number {
  color: hsl(160, 60%, 40%);
}

.token.error {
  color: #c00;
  background: #fee;
  border-color: #eaa;
}

.token.end {
  font-size: 12px;
  color: #aaa;
}