# Intermediate and built stuff.
.sass-cache/
/build/
/gen/
clox
*.class
exercises/chapter01_introduction/3/linked_list
.idea/

# I keep a scratch file at the top level to try stuff out.
temp.lox

# XCode user-specific stuff.
xcuserdata/

# Dart stuff.
/tool/.dart_tool/
/tool/.packages
