# Intermediate and built stuff.
.sass-cache/
/build/
/gen/
clox
*.class
exercises/chapter01_introduction/3/linked_list
*.pyc

# Photoshop docs are pretty huge and I'm not sure if I want to stuff them into
# Git yet.
*.psd

# I keep a scratch file at the top level to try stuff out.
temp.lox

# XCode user-specific stuff.
xcuserdata/
