
/*
NO Lora:400,700,400italic,700italic
NO Noto+Serif:400,700,400italic,700italic
NO Bitter:400,700,400italic
YES PT+Serif:400,700,400italic,700italic
MEH Libre+Baskerville:400,700,400italic
MEH Crimson+Text:400,400italic,600,600italic,700,700italic
Cardo:400,400italic,700
Source+Serif+Pro:400,600,700

Source Sans Pro
BenchNine - ok, a bit informal
News Cycle
Cabin Condensed
Asap
Muli
Roboto Condensed - pretty nice
Open Sans Condensed
Raleway
Karla - neat
Quattrocento Sans
Pontano San
Sintony - pairs strangely well

Droid Sans
Lato
Asap
Raleway
Titillium+Web
Karla
Pathway Gothic One

was: Roboto

*/

//$serif: "Merriweather", Georgia, serif;
$serif: "Crimson Text", Georgia, serif;

$mono: "Droid Sans Mono", Menlo, Consolas, Monaco, monospace;
$header: "Sintony", sans-serif;
$nav: "Source Sans Pro", sans-serif;
//$sans: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode",
//    Verdana, sans-serif;
//$header: "Source Sans Pro", Georgia, serif;

$primary: hsl(330, 60%, 55%);
$hairline: #eee;

$col: 48px;

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

body {
  color: #222;
  font: normal 19px/24px $serif;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;

  z-index: 4;
  //background: url('columns.png');
  //background: url('rows.png');
}

nav {
  position: fixed;
  width: $col * 7;
  height: 100%;

  background: #444;
  color: #eee;

  .contents {
    position: absolute;
    top: 192px;
    bottom: 0;
    right: 0;
    left: $col;
    overflow-y: scroll;
  }

  h1 {
    padding: 124px 0 30px $col;
    font: 300 21px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h2 {
    font: 400 16px $nav;
    color: #ccc;
    margin: 0;
  }

  ul {
    padding: 4px 0 0 20px;
  }

  li {
    font: 300 14px $nav;
    padding: 3px 0;
    color: #666;
  }

  a, h2 a {
    color: #ddd;
  }
}

.page {
  position: relative;

  width: $col * 19;
  margin: 0 auto 0 $col * 8;
}

article {
  width: $col * 12;

  h1 {
    font: 300 48px/48px $serif;
    padding: 103px 0 23px 0;
  }

  h2 {
    font: normal 32px/24px $serif;
    margin: 67px 0 0 0;
    padding-bottom: 5px;
  }

  h3 {
    font: italic 26px/24px $serif;
    margin: 70px 0 0 0;
    padding-bottom: 2px;
  }

  h2 a, h3 a {
    color: #222;
  }

  p {
    margin: 24px 0;
  }
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;

  border-bottom: solid 1px hsla(200, 80%, 90%, 0);

  transition: color 0.2s ease,
              border-color 0.2s ease;
}

a:hover {
  color: #eee;
}

img {
  max-width: 100%;

  border: solid 1px hsl(40, 30%, 95%);
  border-radius: 3px;
}

code {
  color: hsl(200, 20%, 40%);
  font: normal 15px $mono;
  white-space: nowrap;
}

a code {
  color: $primary;
}

pre {
  color: #444;
  font: normal 14px/20px $mono;

  background: hsl(45, 30%, 98%);
  padding: 12px;
  margin: -12px;

  // Scroll horizontally if not wide enough.
  overflow: auto;
}

aside {
  position: absolute;
  right: 0;

  width: $col * 6;

  font: normal 16px/20px $serif;

  border-top: solid 1px #ccc;

  p {
    margin: 20px 0;
  }

  p:first-child {
    margin-top: 4px;
  }
}

// Syntax highlighting.
.codehilite .k  { color: $primary; } // keyword
.codehilite .kd { color: $primary; } // keyword declaration
.codehilite .kt { color: #09a; }     // keyword type
.codehilite .s  { color: #c70; }     // string
.codehilite .sc { color: #c70; }     // string
.codehilite .s2 { color: #c70; }     // string
.codehilite .c  { color: #999; }     // comment
.codehilite .c1 { color: #999; }     // comment
.codehilite .cm { color: #999; }     // comment
.codehilite .cp { color: #594; }     // preprocessor
.codehilite .nl { color: $primary; } // keyword label (private: etc.)
.codehilite .nt { color: $primary; } // json key

// Hack: Pygments isn't recognizing preprocessor directives, so just color the
// error like a keyword.
.codehilite .err { color: $primary; }
