ErrorDocument 404 /404.html

Redirect /beta https://beta.cs.au.dk/
Redirect /budget https://steveklabnik.com/writing/the-language-strangeness-budget
Redirect /dragon https://en.wikipedia.org/wiki/Compilers:_Principles,_Techniques,_and_Tools
Redirect /finch http://finch.stuffwithstuff.com/
Redirect /locality http://gameprogrammingpatterns.com/data-locality.html
Redirect /lua5 https://www.lua.org/doc/jucs05.pdf
Redirect /ports https://github.com/munificent/craftinginterpreters/wiki/Lox-implementations
Redirect /pratt http://journal.stuffwithstuff.com/2011/03/19/pratt-parsers-expression-parsing-made-easy/
Redirect /prototypes http://gameprogrammingpatterns.com/prototype.html
Redirect /repo https://github.com/munificent/craftinginterpreters
Redirect /singleton http://gameprogrammingpatterns.com/singleton.html
Redirect /wizard https://mitpress.mit.edu/sites/default/files/sicp/index.html
Redirect /wren https://wren.io/
