@font-face {
  font-family: "Crimson";
  src: url("font/crimson-roman.woff") format("woff");
}
@font-face {
  font-family: "Crimson";
  src: url("font/crimson-italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Crimson";
  src: url("font/crimson-semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Crimson";
  src: url("font/crimson-semibolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Crimson";
  src: url("font/crimson-bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Crimson";
  src: url("font/crimson-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

img {
  outline: none;
}

img.arrow {
  width: auto;
  height: 11px;
}

img.dot {
  width: auto;
  height: 18px;
  vertical-align: text-bottom;
}

body {
  color: #222;
  font: normal 16px/24px "Crimson", Georgia, serif;
}

.sign-up {
  position: relative;
  padding: 12px;
  margin-bottom: 48px;
  background: #fcf6e8;
  color: #bf9540;
  border: solid 4px #f9e4b8;
}
.sign-up h1 {
  margin: 0;
  padding: 0;
  font: bold 18px/18px "Source Sans Pro", sans-serif;
}
.sign-up p {
  margin: 12px 0;
  font: 15px/24px "Source Sans Pro", sans-serif;
}
.sign-up p.small {
  margin: 15px 0 4px 0;
  font: 14px/18px "Source Sans Pro", sans-serif;
  color: #d9bf8c;
}
.sign-up a {
  color: #ffaa00;
}
.sign-up a:hover {
  color: #cc8800;
  border-color: #fadb9e;
}
.sign-up .dismiss {
  position: absolute;
  z-index: 2;
  right: 4px;
  top: 0;
  font: bold 24px "Source Sans Pro", sans-serif;
  padding: 4px 8px;
  cursor: pointer;
}
.sign-up .dismiss:hover {
  color: #ffaa00;
}
.sign-up input {
  display: table-cell;
  padding: 4px;
  font: 16px "Source Sans Pro", sans-serif;
  outline: none;
  border-radius: 6px;
  border: solid 2px #ffd580;
  color: #825e17;
}
.sign-up input.email {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.sign-up input.button {
  float: right;
  margin: 10px 0 10px 5px;
  padding: 4px 8px;
  font: 600 13px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ffbb33;
}
.sign-up input:focus {
  border-color: #ffaa00;
}

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

body {
  background: #29313d url("image/background.png") top center/100% auto no-repeat;
  color: #222;
  font: normal 16px/24px "Crimson", Georgia, serif;
}

a {
  color: #1481b8;
  text-decoration: none;
  border-bottom: solid 1px rgba(222, 233, 237, 0);
  transition: color 0.2s ease, border-color 0.4s ease;
}

a:hover {
  color: #1481b8;
  border-bottom: solid 1px #dee9ed;
}

article {
  margin: 0 auto;
  padding: 0 0 12px 0;
  max-width: 960px;
  background: #fff;
}

header {
  margin: 0 0 48px 0;
  color: #595959;
  background: #f5f3f0;
  border-bottom: solid 1px #dad8d6;
}

main {
  margin: 0 48px;
}

img.header {
  display: block;
  width: 100%;
}

div.intro {
  display: flex;
}
div.intro blockquote {
  flex-basis: 40%;
  margin: 0 48px 0 0;
  font: italic 28px/42px "Crimson", Georgia, serif;
}
div.intro div.text {
  flex-basis: 60%;
  margin: 8px 0 48px 0;
}

p + p {
  margin-top: 24px;
}

.format {
  position: relative;
  margin: -2px -12px 26px -12px;
  padding: 12px;
  box-sizing: border-box;
  background: #eef4f7;
  color: #444;
  border-radius: 3px;
  font: normal 16px/24px "Source Sans Pro", sans-serif;
}
.format h3 {
  margin: 0;
  padding: 0 0 12px 0;
  font: 600 16px/24px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.format-image {
  width: 390px;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 3px;
  background-size: cover;
}

.format-image.print {
  background-image: url("image/format-print.jpg");
}

.format-image.ebook {
  background-image: url("image/format-ebook.jpg");
}

.format-image.pdf {
  background-image: url("image/format-pdf.png");
}

.format-image.web {
  background-image: url("image/format-web.jpg");
}

.format-info {
  width: 390px;
}
.format-info table {
  width: 100%;
  border-collapse: collapse;
}
.format-info table td + td {
  padding-left: 5px;
}

a.action {
  display: block;
  margin: 0 0 5px 0;
  padding: 6px 0;
  text-align: center;
  border-radius: 3px;
  background: #1481b8;
  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, text-shadow 0.2s ease, color 0.2s ease;
  font: 400 17px/24px "Source Sans Pro", sans-serif;
  color: white;
}
a.action small {
  font-size: 14px;
  padding: 4px;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
}

a.action:hover {
  background-color: #2badee;
  border-color: #0f83bd;
}
a.action:hover small {
  color: white;
}

h3 {
  font: italic 24px/24px "Crimson", Georgia, serif;
  margin: 12px 0;
}

img.author {
  width: 240px;
  margin: -2px 48px 26px -12px;
  padding: 12px;
  background: #f5f3f0;
  border-radius: 3px;
}

div.author {
  vertical-align: top;
  display: inline-block;
  width: 556px;
}

footer {
  position: relative;
  border-top: solid 1px #dee9ed;
  color: #7aa0b8;
  font: 400 15px "Source Sans Pro", sans-serif;
  text-align: center;
  margin: 12px 0 36px 0;
  padding-top: 48px;
}
footer a, footer a:hover {
  border: none;
}