@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-roman.woff") format("woff"); }
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-italic.woff") format("woff");
  font-style: italic; }
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-semibold.woff") format("woff");
  font-weight: 600; }
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-semibolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 600; }
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-bold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold; }
body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; }

img {
  outline: none; }

body {
  color: #222;
  font: normal 16px/24px "Crimson", Georgia, serif; }

.sign-up {
  position: relative;
  padding: 12px;
  background: #fcf6e8;
  color: #bf9540;
  border: solid 4px #f9e4b8; }
  .sign-up h1 {
    margin: 0;
    padding: 0;
    font: bold 18px/18px "Source Sans Pro", sans-serif; }
  .sign-up p {
    margin: 12px 0;
    font: 15px/24px "Source Sans Pro", sans-serif; }
  .sign-up p.small {
    margin: 15px 0 4px 0;
    font: 14px/18px "Source Sans Pro", sans-serif;
    color: #d9bf8c; }
  .sign-up a {
    color: #ffaa00; }
  .sign-up a:hover {
    color: #cc8800;
    border-color: #fadb9e; }
  .sign-up .dismiss {
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 0;
    font: bold 24px "Source Sans Pro", sans-serif;
    padding: 4px 8px;
    cursor: pointer; }
  .sign-up .dismiss:hover {
    color: #ffaa00; }
  .sign-up input {
    display: table-cell;
    padding: 4px;
    font: 16px "Source Sans Pro", sans-serif;
    outline: none;
    border-radius: 6px;
    border: solid 2px #ffd580;
    color: #825e17; }
  .sign-up input.email {
    display: block;
    box-sizing: border-box;
    width: 100%; }
  .sign-up input.button {
    float: right;
    margin: 10px 0 10px 5px;
    padding: 4px 8px;
    font: 600 13px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #ffbb33; }
  .sign-up input:focus {
    border-color: #ffaa00; }

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  background: #382611 url("image/wood.jpg") top center/100% auto no-repeat; }

article {
  margin: 0 auto 48px auto;
  padding: 0 48px;
  max-width: 720px; }

main {
  padding: 48px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 30px 10px rgba(73, 44, 4, 0.2); }

h2 {
  font: 600 20px/24px "Crimson", Georgia, serif;
  margin: 48px 0 12px 0;
  padding-bottom: 2px; }

p {
  margin-bottom: 24px; }

img.logotype {
  display: block;
  margin: 20% auto 10% auto;
  width: 100%; }

p.center {
  text-align: center; }

a {
  color: #1481b8;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px rgba(222, 233, 237, 0);
  transition: color 0.2s ease, border-color 0.4s ease; }

a:visited {
  color: #1481b8; }

a:hover {
  color: #004466;
  border-bottom: solid 1px #dee9ed; }

a.button {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 6px;
  font: 400 17px/24px "Source Sans Pro", sans-serif;
  background: #1481b8;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 3px #52b1e0; }

a.button:hover {
  border: solid 3px #004466; }

blockquote {
  margin: 24px 0 48px 0;
  font: italic 28px/36px "Crimson", Georgia, serif;
  text-align: center; }

code {
  color: #595959;
  font: normal 16px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  white-space: nowrap; }

@media only screen and (max-width: 630px) {
  article {
    padding: 0 24px; }

  main {
    padding: 24px; } }
@media only screen and (max-width: 500px) {
  body {
    font-size: 15px;
    line-height: 22px; }

  blockquote {
    margin: 22px 0 44px 0;
    font-size: 24px;
    line-height: 33px; }

  code {
    font-size: 14px; }

  h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 44px 0 11px 0; } }

/*# sourceMappingURL=index.css.map */
