body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; }

img {
  outline: none; }

.emdash {
  white-space: nowrap; }

body {
  color: #222;
  font: normal 19px/24px "Crimson Text", Georgia, serif; }

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;
  z-index: 4;
  background: url("rows.png"); }

a {
  color: #1481b8;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px rgba(222, 233, 237, 0);
  transition: color 0.2s ease, border-color 0.4s ease; }

a:hover {
  color: #1481b8;
  border-bottom: solid 1px #dee9ed; }

nav {
  font: 300 15px/24px "Source Sans Pro", sans-serif;
  background: #29313d;
  color: #4b6781; }
  nav a, nav h2 a {
    color: #7aa0b8;
    text-decoration: none;
    border-bottom: none; }
  nav a:hover {
    color: #dee9ed;
    text-decoration: none;
    border-bottom: none; }
  nav img {
    box-sizing: border-box;
    width: 100%;
    padding: 110px 48px 23px 48px; }
  nav h2 {
    font: 400 16px/24px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7aa0b8; }
  nav h3 {
    font: 400 18px/24px "Source Sans Pro", sans-serif;
    color: #7aa0b8; }
  nav h2 small, nav h3 small {
    display: inline-block;
    width: 20px;
    font-size: 13px;
    color: #4b6781;
    text-align: right; }
  nav ol, nav ul {
    margin: 3px 0 0 0;
    padding: 7px 0 4px 24px;
    border-top: solid 1px #3b4b5e;
    border-bottom: solid 1px #3b4b5e; }
  nav ul {
    list-style-type: none; }
  nav ul > li:before {
    float: left;
    margin-left: -13px;
    content: "\000A7"; }
  nav .prev-next {
    padding-top: 7px;
    font: 400 12px/18px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; }

nav.wide {
  position: fixed;
  width: 336px;
  height: 100%; }
  nav.wide .contents {
    margin: 24px 48px; }

.nav-wrapper {
  position: absolute;
  right: 288px; }

nav.floating {
  display: none;
  z-index: 2;
  position: absolute;
  width: 288px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  nav.floating #expand-nav {
    padding: 0 0 4px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #4b6781;
    cursor: pointer;
    transition: padding 0.2s ease, margin 0.2s ease, color 0.2s ease; }
  nav.floating #expand-nav, nav.floating #expand-nav:hover {
    border-bottom: none; }
  nav.floating #expand-nav:hover {
    color: #dee9ed; }
  nav.floating .expandable {
    overflow: hidden;
    padding: 0 12px;
    max-height: 0;
    transition: max-height 1.0s ease; }
  nav.floating .expandable.shown {
    max-height: 550px; }
  nav.floating img {
    padding: 110px 24px 23px 24px; }
  nav.floating h2, nav.floating h3 {
    margin-top: 24px; }

nav.floating.pinned {
  position: fixed; }
  nav.floating.pinned #expand-nav {
    margin-top: -12px;
    padding: 7px 0 0 0; }

nav.narrow {
  display: none;
  text-align: center; }
  nav.narrow img {
    box-sizing: content-box;
    padding: 11px 0 3px 0;
    width: auto;
    height: 26px; }
  nav.narrow .prev, nav.narrow .next {
    font-size: 18px;
    position: absolute;
    top: 12px;
    width: 48px;
    text-align: center; }
  nav.narrow .prev {
    left: 0; }
  nav.narrow .next {
    right: 0; }

.right {
  float: right; }

.page {
  position: relative;
  width: 912px;
  margin: 0 auto 0 384px; }

article {
  position: relative;
  width: 576px; }
  article h1 {
    position: relative;
    font: 300 48px/48px "Crimson Text", Georgia, serif;
    padding: 103px 0 23px 0;
    z-index: 2; }
  article h1.part {
    font: 600 36px/48px "Source Sans Pro", sans-serif;
    padding: 108px 0 18px 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
  article .number {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1;
    font: normal 96px "Crimson Text", Georgia, serif;
    color: #dee9ed; }
  article p {
    margin: 24px 0; }
  article ol, article ul {
    padding: 0 0 0 24px; }
  article img {
    max-width: 100%;
    border: solid 1px #faf8f5;
    border-radius: 3px; }

article.chapter h2 {
  font: normal 32px/24px "Crimson Text", Georgia, serif;
  margin: 67px 0 0 0;
  padding-bottom: 5px; }
article.chapter h3 {
  font: italic 26px/24px "Crimson Text", Georgia, serif;
  margin: 70px 0 0 0;
  padding-bottom: 2px; }
article.chapter h2 a, article.chapter h3 a {
  color: #222;
  border-bottom: none; }
article.chapter h2 a:hover, article.chapter h3 a:hover {
  border-bottom: none;
  color: inherit; }
article.chapter h2 a::before, article.chapter h3 a::before {
  position: absolute;
  left: -36px;
  width: 36px;
  content: "\000A7";
  color: #fff;
  transition: color 0.2s ease;
  padding-left: 8px; }
article.chapter h2 a:hover::before, article.chapter h3 a:hover::before {
  color: #ddd; }

article.contents h2 {
  margin: 48px 0 0 0;
  font: 600 normal 20px/24px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px; }
  article.contents h2 .num {
    display: inline-block;
    width: 48px; }
article.contents ol, article.contents ul {
  margin: 0 0 0 48px; }
article.contents li {
  padding: 24px 0 0 24px;
  font: normal 16px/24px "Source Sans Pro", sans-serif;
  color: #7aa0b8; }
  article.contents li a {
    font: 600 18px/24px "Source Sans Pro", sans-serif; }
article.contents p {
  margin: 0;
  padding: 0;
  font: normal 18px/24px "Crimson Text", Georgia, serif;
  color: #29313d; }
article.contents .topic {
  white-space: nowrap; }
article.contents .topic::after {
  content: "\000A0\02013 "; }
article.contents .topic:last-child::after {
  content: ""; }
article.contents a.not-written {
  padding-left: 4px;
  font-weight: 400;
  font-size: 15px;
  color: #7aa0b8;
  border: none; }

aside {
  position: absolute;
  right: -336px;
  width: 288px;
  font: normal 16px/20px "Crimson Text", Georgia, serif;
  border-top: solid 1px #dee9ed; }
  aside p {
    margin: 20px 0; }
  aside p:first-child {
    margin-top: 4px; }
  aside p:last-child {
    margin-bottom: 4px; }

blockquote {
  position: relative;
  margin: 24px 0; }
  blockquote::before, blockquote::after {
    position: absolute;
    top: -20px;
    font: italic 72px "Crimson Text", Georgia, serif;
    color: #dee9ed; }
  blockquote::before {
    content: "\201c";
    left: -7px; }
  blockquote::after {
    content: "\201d";
    right: 8px; }
  blockquote p {
    margin: 0 48px;
    font: italic 24px "Crimson Text", Georgia, serif;
    color: #5985a6; }
  blockquote cite {
    display: block;
    text-align: right;
    color: #7aa0b8; }
    blockquote cite::before {
      content: "\2014\00a0";
      color: #dee9ed; }

footer {
  border-top: solid 1px #dee9ed;
  font-size: 15px;
  text-align: center;
  margin: 24px 0;
  padding-top: 24px; }

.source-file {
  position: absolute;
  right: -336px;
  width: 288px;
  padding: 3px 0 0 0;
  font: normal 11px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  color: #dad8d6; }
  .source-file em {
    color: #999997;
    font-style: normal; }
  .source-file::before {
    content: "<<";
    position: absolute;
    left: -36px;
    width: 36px;
    text-align: center; }

code, pre {
  color: #595959;
  background: #faf8f5;
  border-radius: 3px; }

code {
  font: normal 15px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  white-space: nowrap;
  padding: 2px 2px; }

a code {
  color: #1481b8; }

pre {
  font: normal 13px/20px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  padding: 12px;
  margin: -12px;
  overflow: auto; }

.codehilite .k, .codehilite .kd, .codehilite .kt {
  color: #0b95da; }
.codehilite .s, .codehilite .sc, .codehilite .s2 {
  color: #c70; }
.codehilite .c, .codehilite .c1, .codehilite .cm {
  color: #999; }
.codehilite .cp, .codehilite .nd {
  color: #594; }
.codehilite .nl, .codehilite .nt {
  color: #1481b8; }
.codehilite .n, .codehilite .na, .codehilite .nc {
  color: #3d818f; }
.codehilite .fade {
  color: #dad8d6; }

@media only screen and (max-width: 1344px) {
  nav.wide {
    display: none; }

  nav.floating {
    display: block; }

  body {
    margin: 0 24px; }

  .page {
    position: relative;
    width: inherit;
    max-width: 912px;
    margin: 0 auto; }

  article {
    width: inherit;
    margin-right: 336px; } }
@media only screen and (max-width: 960px) {
  body {
    margin: 0; }

  .page {
    max-width: 576px; }

  nav.floating {
    display: none; }

  nav.narrow {
    display: block; }

  .page {
    margin: 0 48px;
    width: inherit; }

  article {
    margin: 0; }

  aside {
    position: inherit;
    right: inherit;
    width: inherit;
    border-bottom: solid 1px #dee9ed; }
    aside p:first-child {
      margin-top: 8px; }
    aside p:last-child {
      margin-bottom: 8px; }

  .source-file {
    position: relative;
    left: 0;
    width: inherit;
    text-align: right;
    margin-top: -10px;
    padding: 0 0 14px 0; }
    .source-file::before {
      content: none; } }
@media only screen and (max-width: 630px) {
  .page {
    margin: 0 24px;
    width: inherit; }

  article h2 a::before, article h3 a::before {
    left: -24px;
    width: 24px;
    padding-left: 6px; }

  article.contents h2 .num {
    width: 36px; }
  article.contents ol, article.contents ul {
    margin-left: 36px; }
  article.contents li {
    padding-left: 12px; } }
@media only screen and (max-width: 580px) {
  body {
    font: normal 17px/22px "Crimson Text", Georgia, serif; }

  article h1 {
    font: 300 36px/48px "Crimson Text", Georgia, serif;
    padding: 59px 0 23px 0; }
  article h1.part {
    font-size: 28px;
    padding: 59px 0 18px 0; }
  article .number {
    top: 21px;
    font-size: 72px; }
  article h2 {
    font: normal 32px/20px "Crimson Text", Georgia, serif;
    margin: 43px 0 0 0; }
  article h3 {
    font: italic 26px/20px "Crimson Text", Georgia, serif;
    margin: 48px 0 0 0; }
  article h2 a::after, article h3 a::after {
    padding-left: 8px; }
  article p {
    margin: 20px 0; }
  article ol, article ul {
    padding: 0 0 0 24px; }

  article.contents h2 {
    font-size: 18px;
    margin-top: 24px; }
    article.contents h2 .num {
      width: 24px; }
  article.contents ol, article.contents ul {
    margin-left: 24px; }
  article.contents li {
    padding-top: 11px;
    font-size: 14px; }
    article.contents li a {
      font-size: 16px; }
  article.contents p {
    font: normal 17px/22px "Crimson Text", Georgia, serif; }

  aside {
    font: normal 15px/18px "Crimson Text", Georgia, serif; }
    aside p {
      margin: 16px 0; }

  blockquote p {
    margin: 0 30px;
    font: italic 22px "Crimson Text", Georgia, serif; }

  .source-file {
    font-size: 10px; }

  code {
    font-size: 14px; }

  pre {
    font: normal 12px/18px "Source Code Pro", Menlo, Consolas, Monaco, monospace; } }

/*# sourceMappingURL=style.css.map */
