body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; }

.emdash {
  white-space: nowrap; }

body {
  color: #222;
  font: normal 19px/24px "Crimson Text", Georgia, serif; }

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;
  z-index: 4;
  background: url("rows.png"); }

nav {
  font: 300 14px/24px "Source Sans Pro", sans-serif;
  background: #29313d;
  color: #4b6781; }
  nav a, nav h2 a {
    color: #7aa0b8; }
  nav a:hover {
    color: #dee9ed; }
  nav h1 {
    padding: 125px 0 0 0;
    font: 300 21px/24px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }
  nav h2 {
    margin: 0 0 6px 0;
    padding: 28px 0 0 0;
    font: 400 13px/18px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px; }
  nav ol, nav ul {
    padding-left: 24px; }
  nav ul {
    list-style-type: disc; }
  nav ol.toc {
    margin: 0 0 7px;
    padding: 7px 0 4px 24px;
    border-top: solid 1px #3b4b5e;
    border-bottom: solid 1px #3b4b5e; }
  nav ol > li > a {
    font-weight: 400; }

nav.wide {
  position: fixed;
  width: 336px;
  height: 100%; }
  nav.wide .contents {
    position: absolute;
    top: 175px;
    bottom: 0;
    right: 48px;
    left: 48px;
    overflow: hidden; }
  nav.wide a:hover {
    border-bottom: solid 1px #4b6781; }

.nav-wrapper {
  position: absolute;
  background: red;
  right: 288px; }

nav.column {
  display: none;
  z-index: 2;
  position: absolute;
  width: 288px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  nav.column #expand-nav {
    padding: 13px 0 6px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #4b6781;
    cursor: pointer;
    transition: padding 0.2s ease, margin 0.2s ease, color 0.2s ease; }
  nav.column #expand-nav, nav.column #expand-nav:hover {
    border-bottom: none; }
  nav.column #expand-nav:hover {
    color: #dee9ed; }
  nav.column .expandable {
    overflow: hidden;
    padding: 0 12px;
    max-height: 0;
    transition: max-height 1.0s ease; }
  nav.column .expandable.shown {
    max-height: 600px; }
  nav.column ol.toc {
    margin-top: 42px;
    transition: margin 0.2s ease; }

nav.column.pinned {
  position: fixed; }
  nav.column.pinned h1 {
    padding-top: 12px; }
  nav.column.pinned #expand-nav {
    margin-top: -12px;
    padding: 7px 0 0 0; }
  nav.column.pinned ol.toc {
    margin-top: 12px; }

.right {
  float: right; }

.page {
  position: relative;
  width: 912px;
  margin: 0 auto 0 384px; }

article {
  width: 576px; }
  article h1 {
    font: 300 48px/48px "Crimson Text", Georgia, serif;
    padding: 103px 0 23px 0; }
  article h2 {
    font: normal 32px/24px "Crimson Text", Georgia, serif;
    margin: 67px 0 0 0;
    padding-bottom: 5px; }
  article h3 {
    font: italic 26px/24px "Crimson Text", Georgia, serif;
    margin: 70px 0 0 0;
    padding-bottom: 2px; }
  article h2 a, article h3 a {
    color: #222;
    border-bottom: none; }
  article h2 a:hover, article h3 a:hover {
    border-bottom: none;
    color: inherit; }
  article h2 a::after, article h3 a::after {
    content: "#";
    color: #fff;
    transition: color 0.2s ease;
    padding-left: 8px; }
  article h2 a:hover::after, article h3 a:hover::after {
    color: #ddd; }
  article p {
    margin: 24px 0; }
  article ol, article ul {
    padding: 0 0 0 24px; }

aside {
  position: absolute;
  right: 0;
  width: 288px;
  font: normal 16px/20px "Crimson Text", Georgia, serif;
  border-top: solid 1px #dee9ed; }
  aside p {
    margin: 20px 0; }
  aside p:first-child {
    margin-top: 4px; }

a {
  color: #1481b8;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px rgba(222, 233, 237, 0);
  transition: color 0.2s ease, border-color 0.4s ease; }

a:hover {
  color: #1481b8;
  border-bottom: solid 1px #dee9ed; }

blockquote {
  position: relative;
  margin: 24px 0; }
  blockquote::before, blockquote::after {
    position: absolute;
    top: -20px;
    font: italic 72px "Crimson Text", Georgia, serif;
    color: #dee9ed; }
  blockquote::before {
    content: "\201c";
    left: -7px; }
  blockquote::after {
    content: "\201d";
    right: 8px; }
  blockquote p {
    margin: 0 48px;
    font: italic 24px "Crimson Text", Georgia, serif;
    color: #5985a6; }
  blockquote cite {
    display: block;
    text-align: right;
    color: #7aa0b8; }
    blockquote cite::before {
      content: "\2014\00a0";
      color: #dee9ed; }

footer {
  border-top: solid 1px #dee9ed;
  font-size: 15px;
  text-align: center;
  margin: 24px 0;
  padding-top: 24px; }

img {
  max-width: 100%;
  border: solid 1px #faf8f5;
  border-radius: 3px; }

.source-file {
  position: absolute;
  right: 0;
  padding: 3px 0 0 0;
  width: 288px;
  font: normal 11px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  color: #d9d8d5; }
  .source-file em {
    color: #999897;
    font-style: normal; }
  .source-file::before {
    content: "<<";
    position: absolute;
    left: -36px;
    width: 36px;
    text-align: center; }

code, pre {
  color: #595959;
  background: #faf8f5;
  border-radius: 3px; }

code {
  font: normal 15px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  white-space: nowrap;
  padding: 2px 2px; }

a code {
  color: #1481b8; }

pre {
  font: normal 13px/20px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
  padding: 12px;
  margin: -12px;
  overflow: auto; }

.codehilite .k, .codehilite .kd, .codehilite .kt {
  color: #0b95da; }
.codehilite .s, .codehilite .sc, .codehilite .s2 {
  color: #c70; }
.codehilite .c, .codehilite .c1, .codehilite .cm {
  color: #999; }
.codehilite .cp, .codehilite .nd {
  color: #594; }
.codehilite .nl, .codehilite .nt {
  color: #1481b8; }
.codehilite .n, .codehilite .na, .codehilite .nc {
  color: #3d818f; }
.codehilite .fade {
  color: #d9d8d5; }

@media only screen and (max-width: 1344px) {
  nav.wide {
    display: none; }

  nav.column {
    display: block; }

  body {
    margin: 0 24px; }

  .page {
    position: relative;
    width: inherit;
    max-width: 912px;
    margin: 0 auto; }

  article {
    width: inherit;
    margin-right: 336px; } }
/*
// Tablets and mobile go single column.
@media only screen and (max-width: $col * 20) {
  .page {
    margin: 0 $col;
  }

}
*/

/*# sourceMappingURL=style.css.map */
