// Font stacks.
$serif:   "Crimson Text", Georgia, serif;
$mono:    "Source Code Pro", Menlo, Consolas, Monaco, monospace;
$nav:     "Source Sans Pro", sans-serif;

// The main intense primary accent color.
$primary:   hsl(200, 80%, 40%);

// A ramp of washed out blues from dark to light.
$dark:    hsl(215, 20%, 20%);
$gray-30: hsl(212, 23%, 30%);
$gray-40: hsl(209, 26%, 40%);
$gray-50: hsl(206, 30%, 50%);
$gray-60: hsl(203, 30%, 60%);
$light:   hsl(195, 30%, 90%);

// An opposing warm light color (code background).
$warm-dark:     hsl(40, 0%, 35%);
$warm-light:    hsl(40, 30%, 97%);
$warm-40:       mix($warm-light, $warm-dark, 40%);
$warm-60:       mix($warm-light, $warm-dark, 60%);
$warm-80:       mix($warm-light, $warm-dark, 80%);

$col: 48px;

// 28 units wide
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// [ (        ) ]  (                      )  (          )

// text columns a 5, 12, 6
// asymmetric because of dark background on left, requires a double margin
// also, nav text is narrower than sidebar

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

body {
  background: $dark;
}

img {
  outline: none;
}

article {
  margin: 0 auto;
  padding: 0 $col;
  max-width: $col * 24;
}

img.logotype {
  display: block;
  margin: 20% auto 0 auto;
  width: 60%;
}