@import 'sass/shared';
@import 'sass/sign-up';

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #382611 url('image/wood.jpg') top center / 100% auto no-repeat;
}

article {
  margin: 0 auto $col auto;
  padding: 0 $col;
  max-width: $col * 15;
}

main {
  padding: $col;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 30px 10px hsla(35, 90%, 15%, 0.2);
}

h2 {
  font: bold 20px/24px $serif;
  margin: 48px 0 12px 0;
  padding-bottom: 2px;
}

p {
  margin-bottom: 24px;
}

img.logotype {
  display: block;
  margin: 20% auto 10% auto;
  width: 100%;
}

p.center {
  text-align: center;
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px transparentize($light, 1.0);

  transition: color 0.2s ease,
              border-color 0.4s ease;
}

a:visited {
  color: $primary;
}

a:hover {
  color: $primary-dark;
  border-bottom: solid 1px opacify($light, 1.0);
}

a.button {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 6px;
  font: 400 17px/24px $nav;
  background: $primary;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: solid 3px $primary-light;
}

a.button:hover {
  border: solid 3px $primary-dark;
}

blockquote {
  margin: 24px 0 48px 0;
  font: italic 28px/36px $serif;
  text-align: center;
}

code {
  color: $warm-dark;
  font: normal 16px $mono;
  white-space: nowrap;
}


// Then bring the margins in some.
@media only screen and (max-width: 630px) {
  article {
    padding: 0 $col/2;
  }

  main {
    padding: $col/2;
  }
}


// Finally, shrink the grid to 22px and shrink the text.
@media only screen and (max-width: 500px) {
  body {
    font-size: 15px;
    line-height: 22px;
  }

  blockquote {
    margin: 22px 0 44px 0;
    font-size: 24px;
    line-height: 33px;
  }

  code {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
    margin: 44px 0 11px 0;
  }
}
