$serif:   "Crimson Text", Georgia, serif;
$mono:    "Droid Sans Mono", Menlo, Consolas, Monaco, monospace;
$nav:     "Source Sans Pro", sans-serif;

// TODO: Make a gradient from light to dark with slightly different hues instead
// of a single $hue.
$hue:       205;
$primary:   hsl($hue, 80%, 45%);
$hairline:  #eee;

$col: 48px;

// 28 units wide
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// [ (        ) ]  (                      )  (          )

// text columns a 5, 12, 6
// asymmetric because of dark background on left, requires a double margin
// also, nav text is narrower than sidebar

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

// Make sure we don't split on the thin spaces around an em dash.
.emdash {
  white-space: nowrap;
}

body {
  color: #222;
  font: normal 19px/24px $serif;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;

  z-index: 4;

  //background: url('columns.png');
  background: url('rows.png');
}

nav {
  font: 300 14px/24px $nav;
  background: hsl($hue + 10, 20%, 20%);
  color: hsl($hue - 10, 20%, 40%);

  a, h2 a {
    color: hsl($hue, 20%, 60%);
  }

  a:hover {
    color: hsl($hue, 20%, 90%);
  }

  h1 {
    padding: 125px 0 0 0;
    font: 300 21px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }

  h2 {
    margin: 0 0 6px 0;
    padding: 28px 0 0 0;
    font: 400 13px/18px $nav;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }

  ol, ul {
    padding-left: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol.toc {
    margin: 0 0 7px;
    padding: 7px 0 4px 24px;
    border-top: solid 1px hsl($hue, 20%, 30%);
    border-bottom: solid 1px hsl($hue, 20%, 30%);
  }

  ol > li > a {
    font-weight: 400;
  }
}

nav.wide {
  position: fixed;
  width: $col * 7;
  height: 100%;

  .contents {
    position: absolute;
    top: 175px;
    bottom: 0;
    right: $col;
    left: $col;
    overflow: hidden;
  }

  a:hover {
    border-bottom: solid 1px hsl($hue, 20%, 40%);
  }
}

// This is needed to make the nav fixed (not scrolling with the content) but
// still positioned horizontally based on the page.
// See: http://stackoverflow.com/a/11833892/9457
.nav-wrapper {
  position: absolute;
  background: red;
  right: $col * 6;
}

nav.column {
  // Only shown on narrower screens.
  display: none;

  z-index: 2;
  position: absolute;
  width: $col * 6;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  #expand-nav {
    padding: 13px 0 6px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: hsl($hue, 20%, 40%);
    cursor: pointer;

    transition: padding 0.2s ease,
                margin 0.2s ease,
                color 0.2s ease;
  }

  #expand-nav, #expand-nav:hover {
    border-bottom: none;
  }

  #expand-nav:hover {
    color: hsl($hue, 20%, 90%);
  }

  .expandable {
    overflow: hidden;
    padding: 0 12px;

    // Using max-height instead of height to allow the list to navigation to
    // automatically choose its height based on the size of the list while
    // still transitioning.
    // See: http://stackoverflow.com/a/8331169/9457
    max-height: 0;
    transition: max-height 1.0s ease;
  }

  .expandable.shown {
    // This should be as small as possible while still being large enough for
    // the worst case chapter.
    max-height: 600px;
  }

  ol.toc {
    margin-top: 42px;

    transition: margin 0.2s ease;
  }
}

nav.column.pinned {
  position: fixed;

  h1 {
    padding-top: 12px;
  }

  #expand-nav {
    margin-top: -12px;
    padding: 7px 0 0 0;
  }

  ol.toc {
    margin-top: 12px;
  }
}

.right {
  float: right;
}

.page {
  position: relative;

  width: $col * 19;
  margin: 0 auto 0 $col * 8;
}

article {
  width: $col * 12;

  h1 {
    font: 300 48px/48px $serif;
    padding: 103px 0 23px 0;
  }

  h2 {
    font: normal 32px/24px $serif;
    margin: 67px 0 0 0;
    padding-bottom: 5px;
  }

  h3 {
    font: italic 26px/24px $serif;
    margin: 70px 0 0 0;
    padding-bottom: 2px;
  }

  h2 a, h3 a {
    color: #222;
    border-bottom: none;
  }

  h2 a:hover, h3 a:hover {
    border-bottom: none;
    color: inherit;
  }

  h2 a::after, h3 a::after {
    content: "#";
    color: #fff;
    transition: color 0.2s ease;
    padding-left: 8px;
  }

  h2 a:hover::after, h3 a:hover::after {
    color: #ddd;
  }

  p {
    margin: 24px 0;
  }

  ol, ul {
    padding: 0 0 0 24px;
  }
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;

  border-bottom: solid 1px hsla($hue, 80%, 90%, 0);

  transition: color 0.2s ease,
              border-color 0.4s ease;
}

a:hover {
  color: $primary;
  border-bottom: solid 1px hsla($hue, 80%, 80%, 1.0);
}

footer {
  border-top: solid 1px $hairline;
  font-size: 15px;
  text-align: center;
  margin: 24px 0;
  padding-top: 24px;
}

img {
  max-width: 100%;

  border: solid 1px hsl(40, 30%, 95%);
  border-radius: 3px;
}

code {
  color: #555;
  background: hsl(45, 30%, 97%);
  font: normal 15px $mono;
  white-space: nowrap;
  padding: 2px 2px;
}

a code {
  color: $primary;
}

pre {
  color: #444;
  font: normal 13px/20px $mono;

  background: hsl(40, 30%, 97%);
  padding: 12px;
  margin: -12px;

  // Scroll horizontally if not wide enough.
  overflow: auto;

  border-radius: 3px;
}

aside {
  position: absolute;
  right: 0;

  width: $col * 6;

  font: normal 16px/20px $serif;

  border-top: solid 1px hsl($hue, 20%, 90%);

  p {
    margin: 20px 0;
  }

  p:first-child {
    margin-top: 4px;
  }
}

// Syntax highlighting.
.codehilite .k  { color: $primary; } // keyword
.codehilite .kd { color: $primary; } // keyword declaration
.codehilite .kt { color: #0aa; }     // keyword type
.codehilite .s  { color: #c70; }     // string
.codehilite .sc { color: #c70; }     // string
.codehilite .s2 { color: #c70; }     // string
.codehilite .c  { color: #999; }     // comment
.codehilite .c1 { color: #999; }     // comment
.codehilite .cm { color: #999; }     // comment
.codehilite .cp { color: #594; }     // preprocessor
.codehilite .nl { color: $primary; } // keyword label (private: etc.)
.codehilite .nt { color: $primary; } // json key

// On a not-entirely-large screen, don't show the fixed nav on the left.
@media only screen and (max-width: 1344px) {
  nav.wide { display: none; }
  nav.column { display: block; }

  body {
    margin: 0 24px;
  }

  .page {
    position: relative;
    width: inherit;
    max-width: $col * 19;
    margin: 0 auto;
  }

  article {
    width: inherit;
    margin-right: $col * 7;
  }
}

/*
// Tablets and mobile go single column.
@media only screen and (max-width: $col * 20) {
  .page {
    margin: 0 $col;
  }

}
*/
