// Font stacks.
$serif:   "Crimson Text", Georgia, serif;
$mono:    "Source Code Pro", Menlo, Consolas, Monaco, monospace;
$nav:     "Source Sans Pro", sans-serif;

// The main intense primary accent color.
$primary:   hsl(200, 80%, 40%);

// A ramp of washed out blues from dark to light.
$dark:    hsl(215, 20%, 20%);
$gray-30: hsl(212, 23%, 30%);
$gray-40: hsl(209, 26%, 40%);
$gray-50: hsl(206, 30%, 50%);
$gray-60: hsl(203, 30%, 60%);
$light:   hsl(195, 30%, 90%);

// An opposing warm light color (code background).
$warm-dark:     hsl(40, 0%, 35%);
$warm-light:    hsl(40, 30%, 97%);
$warm-40:       mix($warm-light, $warm-dark, 40%);
$warm-60:       mix($warm-light, $warm-dark, 60%);
$warm-80:       mix($warm-light, $warm-dark, 80%);

$col: 48px;

// 28 units wide
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// [ (        ) ]  (                      )  (          )

// text columns a 5, 12, 6
// asymmetric because of dark background on left, requires a double margin
// also, nav text is narrower than sidebar

body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}

img {
  outline: none;
}

// Make sure we don't split on the thin spaces around an em dash.
.emdash {
  white-space: nowrap;
}

body {
  color: #222;
  font: normal 19px/24px $serif;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;

  z-index: 4;

  //background: url('columns.png');
  background: url('rows.png');
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;

  border-bottom: solid 1px transparentize($light, 1.0);

  transition: color 0.2s ease,
              border-color 0.4s ease;
}

a:hover {
  color: $primary;
  border-bottom: solid 1px opacify($light, 1.0);
}

nav {
  font: 300 15px/24px $nav;
  background: $dark;
  color: $gray-40;

  a, h2 a {
    color: $gray-60;
    text-decoration: none;
    border-bottom: none;
  }

  a:hover {
    color: $light;
    text-decoration: none;
    border-bottom: none;
  }

  img {
    box-sizing: border-box;
    width: 100%;
    padding: 110px $col 23px $col;
  }

  h2 {
    font: 400 16px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-60;
  }

  h3 {
    font: 400 18px/24px $nav;
    color: $gray-60;
  }

  h2 small, h3 small {
    display: inline-block;
    width: 20px;
    font-size: 13px;
    color: $gray-40;
    text-align: right;
  }

  ol, ul {
    margin: 3px 0 0 0;
    padding: 7px 0 4px 24px;
    border-top: solid 1px $gray-30;
    border-bottom: solid 1px $gray-30;
  }

  ul {
    list-style-type: none;
  }

  ul > li:before {
    float: left;
    margin-left: -13px;
    content: "\000A7";
  }

  .prev-next {
    padding-top: 7px;
    font: 400 12px/18px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

nav.wide {
  position: fixed;
  width: $col * 7;
  height: 100%;

  .contents {
    margin: 24px $col;
  }
}

// This is needed to make the nav fixed (not scrolling with the content) but
// still positioned horizontally based on the page.
// See: http://stackoverflow.com/a/11833892/9457
.nav-wrapper {
  position: absolute;
  right: $col * 6;
}

// For medium-sized screens, the navigation floats over the same column as the
// asides.
nav.floating {
  // Only shown on narrower screens.
  display: none;

  z-index: 2;
  position: absolute;
  width: $col * 6;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  #expand-nav {
    padding: 0 0 4px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: $gray-40;
    cursor: pointer;

    transition: padding 0.2s ease,
                margin 0.2s ease,
                color 0.2s ease;
  }

  #expand-nav, #expand-nav:hover {
    border-bottom: none;
  }

  #expand-nav:hover {
    color: $light;
  }

  .expandable {
    overflow: hidden;
    padding: 0 12px;

    // Using max-height instead of height to allow the list to navigation to
    // automatically choose its height based on the size of the list while
    // still transitioning.
    // See: http://stackoverflow.com/a/8331169/9457
    max-height: 0;
    transition: max-height 1.0s ease;
  }

  .expandable.shown {
    // This should be as small as possible while still being large enough for
    // the worst case chapter.
    max-height: 550px;
  }

  img {
    padding: 110px $col/2 23px $col/2;
  }

  h2, h3 {
    margin-top: 24px;
  }
}

nav.floating.pinned {
  position: fixed;

  #expand-nav {
    margin-top: -12px;
    padding: 7px 0 0 0;
  }
}

nav.narrow {
  display: none;

  text-align: center;

  img {
    box-sizing: content-box;
    padding: 11px 0 3px 0;
    width: auto;
    height: 26px;
  }

  .prev, .next {
    font-size: 18px;
    position: absolute;
    top: 12px;
    width: $col;
    text-align: center;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

.right {
  float: right;
}

.page {
  position: relative;

  width: $col * 19;
  margin: 0 auto 0 $col * 8;
}

article {
  position: relative;
  width: $col * 12;

  h1 {
    position: relative;
    font: 300 48px/48px $serif;
    padding: 103px 0 23px 0;
    z-index: 2;
  }

  h1.part {
    font: 600 36px/48px $nav;
    padding: 108px 0 18px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .number {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1;

    font: normal 96px $serif;
    color: $light;
  }

  p {
    margin: 24px 0;
  }

  ol, ul {
    padding: 0 0 0 24px;
  }

  img {
    max-width: 100%;

    border: solid 1px $warm-light;
    border-radius: 3px;
  }
}

article.chapter {
  h2 {
    font: normal 32px/24px $serif;
    margin: 67px 0 0 0;
    padding-bottom: 5px;
  }

  h3 {
    font: italic 26px/24px $serif;
    margin: 70px 0 0 0;
    padding-bottom: 2px;
  }

  h2 a, h3 a {
    color: #222;
    border-bottom: none;
  }

  h2 a:hover, h3 a:hover {
    border-bottom: none;
    color: inherit;
  }

  h2 a::before, h3 a::before {
    position: absolute;
    left: -($col - 12px);
    width: $col - 12px;
    content: "\000A7";
    color: #fff;
    transition: color 0.2s ease;
    padding-left: 8px;
  }

  h2 a:hover::before, h3 a:hover::before {
    color: #ddd;
  }
}

article.contents {
  h2 {
    margin: 48px 0 0 0;
    font: 600 normal 20px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;

    .num {
      display: inline-block;
      width: 48px;
    }
  }

  ol, ul {
    margin: 0 0 0 48px;
  }

  li {
    padding: 24px 0 0 24px;
    font: normal 16px/24px $nav;
    color: $gray-60;

    a {
      font: 600 18px/24px $nav;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font: normal 18px/24px $serif;
    color: $dark;
  }

  .topic {
    white-space: nowrap;
  }

  .topic::after {
    content: "\000A0\02013 "; // nbsp; ndash; space.
  }

  .topic:last-child::after {
    content: "";
  }

  a.not-written {
    padding-left: 4px;
    border: none;
  }
}

aside {
  position: absolute;
  right: -$col * 7;

  width: $col * 6;

  font: normal 16px/20px $serif;

  border-top: solid 1px $light;

  p {
    margin: 20px 0;
  }

  p:first-child {
    margin-top: 4px;
  }

  p:last-child {
    margin-bottom: 4px;
  }
}

blockquote {
  position: relative;

  margin: 24px 0;

  &::before, &::after {
    position: absolute;
    top: -20px;
    font: italic 72px $serif;
    color: $light;
  }

  &::before {
    content: "\201c";
    left: -7px;
  }

  &::after {
    content: "\201d";
    right: 8px;
  }

  p {
    margin: 0 $col;
    font: italic 24px $serif;
    color: $gray-50;
  }

  cite {
    display: block;
    text-align: right;
    color: $gray-60;

    &::before {
      content: "\2014\00a0";
      color: $light;
    }
  }
}

footer {
  border-top: solid 1px $light;
  font-size: 15px;
  text-align: center;
  margin: 24px 0;
  padding-top: 24px;
}

.source-file {
  position: absolute;
  right: -$col * 7;
  width: $col * 6;
  padding: 3px 0 0 0;

  font: normal 11px $mono;
  color: $warm-80;

  em {
    color: $warm-40;
    font-style: normal;
  }

  &::before {
    content: "<<";
    position: absolute;
    left: -($col - 12px);
    width: $col - 12px;
    text-align: center;
  }
}

code, pre {
  color: $warm-dark;
  background: $warm-light;
  border-radius: 3px;
}

code {
  font: normal 15px $mono;
  white-space: nowrap;
  padding: 2px 2px;
}

a code {
  color: $primary;
}

pre {
  font: normal 13px/20px $mono;
  padding: 12px;
  margin: -12px;

  // Scroll horizontally if not wide enough.
  overflow: auto;
}

// Syntax highlighting.
.codehilite {
  .k, .kd, .kt  { color: hsl(200, 90%, 45%); }  // Keyword.
  .s, .sc, .s2  { color: #c70; }                // String.
  .c, .c1, .cm  { color: #999; }                // Comment.
  .cp, .nd      { color: #594; }                // Preprocessor, annotation.
  .nl, .nt      { color: $primary; }            // Label (private: etc.).
  .n, .na, .nc  { color: hsl(190, 40%, 40%); }  // Name.

  // Snippets of code before and after real code to show where to insert it.
  .fade { color: $warm-80; }
}

// On a not-entirely-large screen, don't show the fixed nav on the left.
@media only screen and (max-width: 1344px) {
  nav.wide { display: none; }
  nav.floating { display: block; }

  body {
    margin: 0 24px;
  }

  .page {
    position: relative;
    width: inherit;
    max-width: $col * 19;
    margin: 0 auto;
  }

  article {
    width: inherit;
    margin-right: $col * 7;
  }
}

// Tablets and mobile go single column.
@media only screen and (max-width: $col * 20) {
  body {
    margin: 0;
  }

  .page {
    max-width: $col * 12;
  }

  nav.floating {
    display: none;
  }

  nav.narrow {
    display: block;
  }

  .page {
    margin: 0 $col;
    width: inherit;
  }

  article {
    margin: 0;
  }

  aside {
    position: inherit;
    right: inherit;
    width: inherit;

    border-bottom: solid 1px $light;

    p:first-child {
      margin-top: 8px;
    }

    p:last-child {
      margin-bottom: 8px;
    }
  }

  .source-file {
    position: relative;
    left: 0;
    width: inherit;
    text-align: right;
    margin-top: -10px;
    padding: 0 0 14px 0;

    &::before {
      content: none;
    }
  }
}

// Then bring the margins in some.
// The cut-off sizes here are based on trying to get 72 columns of code to fit.
@media only screen and (max-width: 630px) {
  .page {
    margin: 0 ($col / 2);
    width: inherit;
  }

  article {
    h2 a::before, h3 a::before {
      left: -($col / 2);
      width: $col / 2;
      padding-left: 6px;
    }
  }

  article.contents {
    h2 .num {
      width: 36px;
    }

    ol, ul {
      margin-left: 36px;
    }

    li {
      padding-left: 12px;
    }
  }
}

// Finally start shrinking text.
@media only screen and (max-width: 580px) {
  body {
    font: normal 17px/22px $serif;
  }

  article {
    h1 {
      font: 300 36px/48px $serif;
      padding: 59px 0 23px 0;
    }

    h1.part {
      font-size: 28px;
      padding: 59px 0 18px 0;
    }

    .number {
      top: 21px;
      font-size: 72px;
    }

    h2 {
      font: normal 32px/20px $serif;
      margin: 43px 0 0 0;
    }

    h3 {
      font: italic 26px/20px $serif;
      margin: 48px 0 0 0;
    }

    h2 a::after, h3 a::after {
      padding-left: 8px;
    }

    p {
      margin: 20px 0;
    }

    ol, ul {
      padding: 0 0 0 24px;
    }
  }

  article.contents {
    h2 {
      font-size: 18px;
      margin-top: 24px;

      .num {
        width: 24px;
      }
    }

    ol, ul {
      margin-left: 24px;
    }


    li {
      padding-top: 11px;
      font-size: 14px;

      a {
        font-size: 16px;
      }
    }

    p {
      font: normal 17px/22px $serif;
    }
  }

  aside {
    font: normal 15px/18px $serif;

    p {
      margin: 16px 0;
    }
  }

  blockquote {
    p {
      margin: 0 30px;
      font: italic 22px $serif;
    }
  }

  .source-file {
    font-size: 10px;
  }

  code {
    font-size: 14px;
  }

  pre {
    font: normal 12px/18px $mono;
  }
}
