@import 'sass/shared';
@import 'sass/chapter';
@import 'sass/contents';
@import 'sass/sign-up';

// Make sure we don't split on the thin spaces around an em dash.
.emdash {
  white-space: nowrap;
}

.scrim {
  position: absolute;
  width: 100%;
  height: 10000px;

  z-index: 4;

  //background: url('columns.png');
  background: url('rows.png');
}

a {
  color: $primary;
  text-decoration: none;
  outline: none;

  border-bottom: solid 1px transparentize($light, 1.0);

  transition: color 0.2s ease,
              border-color 0.4s ease;
}

a:hover {
  color: $primary;
  border-bottom: solid 1px opacify($light, 1.0);
}

nav {
  font: 300 15px/24px $nav;
  background: $dark;
  color: $gray-40;

  a, h2 a {
    color: $gray-60;
    text-decoration: none;
    border-bottom: none;
  }

  a:hover {
    color: $light;
    text-decoration: none;
    border-bottom: none;
  }

  img {
    box-sizing: border-box;
    width: 100%;
    padding: 110px $col 23px $col;
  }

  h2 {
    font: 400 16px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray-60;
  }

  h3 {
    font: 400 18px/24px $nav;
    color: $gray-60;
  }

  h2 small, h3 small {
    display: inline-block;
    width: 20px;
    font-size: 13px;
    color: $gray-40;
    text-align: right;
  }

  ol, ul {
    margin: 3px 0 0 0;
    padding: 7px 0 4px 24px;
    border-top: solid 1px $gray-30;
    border-bottom: solid 1px $gray-30;
  }

  ul {
    list-style-type: none;
  }

  ul > li:before {
    float: left;
    margin-left: -13px;
    content: "\000A7";
  }

  .prev-next {
    padding-top: 7px;
    font: 400 12px/18px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

nav.wide {
  position: fixed;
  width: $col * 7;
  height: 100%;

  .contents {
    margin: 24px $col;
  }
}

// This is needed to make the nav fixed (not scrolling with the content) but
// still positioned horizontally based on the page.
// See: http://stackoverflow.com/a/11833892/9457
.nav-wrapper {
  position: absolute;
  right: $col * 6;
}

// For medium-sized screens, the navigation floats over the same column as the
// asides.
nav.floating {
  // Only shown on narrower screens.
  display: none;

  z-index: 2;
  position: absolute;
  width: $col * 6;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  #expand-nav {
    padding: 0 0 4px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    color: $gray-40;
    cursor: pointer;

    transition: padding 0.2s ease,
                margin 0.2s ease,
                color 0.2s ease;
  }

  #expand-nav, #expand-nav:hover {
    border-bottom: none;
  }

  #expand-nav:hover {
    color: $light;
  }

  .expandable {
    overflow: hidden;
    padding: 0 12px;

    // Using max-height instead of height to allow the list to navigation to
    // automatically choose its height based on the size of the list while
    // still transitioning.
    // See: http://stackoverflow.com/a/8331169/9457
    max-height: 0;
    transition: margin 0.2s ease,
                max-height 1.0s ease;

    .prev-next {
      padding-bottom: 6px;
    }
  }

  .expandable.shown {
    // This should be as small as possible while still being large enough for
    // the worst case chapter.
    max-height: 550px;
  }

  img {
    padding: 110px $col/2 23px $col/2;
  }
}

nav.floating.pinned {
  position: fixed;

  top: -85px;

  .expandable {
    margin-top: -13px;
  }

  #expand-nav {
    margin-top: -14px;
  }
}

nav.narrow {
  display: none;

  text-align: center;

  img {
    box-sizing: content-box;
    padding: 11px 0 3px 0;
    width: auto;
    height: 27px;
  }

  .prev, .next {
    font-size: 32px;
    position: absolute;
    top: 12px;
    padding: 0 $col;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}

.right {
  float: right;
}

.page {
  position: relative;

  width: $col * 19;
  margin: 0 auto 0 $col * 8;
}

article {
  position: relative;
  width: $col * 12;

  h1 {
    position: relative;
    font: 48px/48px $serif;
    padding: 109px 0 19px 0;
    z-index: 2;
  }

  h1.part {
    font: 600 36px/48px $nav;
    padding: 108px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .number {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;

    font: 300 96px $nav;
    color: $light;
  }

  p {
    margin: 24px 0;
  }

  ol, ul {
    margin: 24px 0;
    padding: 0 0 0 24px;
  }

  img {
    max-width: 100%;
  }

  img.wide {
    max-width: none;
    width: $col * 19;
  }
}

aside {
  position: absolute;
  right: -$col * 7;
  width: $col * 6;

  font: normal 14px/20px $serif;

  border-top: solid 1px $light;

  p {
    margin: 20px 0;
  }

  p:first-child {
    margin-top: 4px;
  }

  p:last-child {
    margin-bottom: 4px;
  }
}

blockquote {
  position: relative;

  margin: 29px 0 31px 0;

  &::before, &::after {
    position: absolute;
    top: -20px;
    font: italic 72px $serif;
    color: $light;
  }

  &::before {
    content: "\201c";
    left: -7px;
  }

  &::after {
    content: "\201d";
    right: 8px;
  }

  p {
    margin: 0 $col;
    font: italic 24px/36px $serif;
    color: $gray-50;
  }

  cite {
    display: block;
    text-align: right;
    color: $gray-60;
    font-size: 18px;

    &::before {
      content: "\2014\00a0";
      color: $light;
    }
  }
}

footer {
  border-top: solid 1px $light;
  font-size: 15px;
  text-align: center;
  margin: 24px 0;
  padding-top: 24px;
}

// Since the challenges box has a background color, there's no need for a
// border to separate the footer.
div.challenges + footer {
  border-top: none;
  padding-top: 0;
}

.source-file {
  position: absolute;
  right: -$col * 7;
  width: $col * 6;
  padding: 3px 0 0 0;

  font: normal 11px $mono;
  color: $warm-80;

  em {
    color: $warm-40;
    font-style: normal;
  }

  &::before {
    content: "<<";
    position: absolute;
    left: -($col - 12px);
    width: $col - 12px;
    text-align: center;
  }
}

code, pre {
  color: $warm-dark;
  background: $warm-light;
  border-radius: 3px;
}

code {
  font: normal 15px $mono;
  white-space: nowrap;
  padding: 2px 2px;
}

pre code {
  white-space: pre;
}

a code {
  color: $primary;
}

pre {
  font: normal 13px/20px $mono;
  padding: 12px;
  margin: -12px;

  // Scroll horizontally if not wide enough.
  overflow: auto;
}

// Syntax highlighting.
.codehilite {
  .k, .kd, .kt  { color: hsl(200, 90%, 45%); }  // Keyword.
  .mi, .mf      { color: hsl( 20, 50%, 55%); }  // Number.
  .s, .sc, .s2  { color: hsl( 40, 55%, 50%); }  // String.
  .c, .c1, .cm  { color: mix($warm-light, $warm-dark, 50%); } // Comment.
  .cp, .nd      { color: #594; }                // Preprocessor, annotation.
  .nl, .nt      { color: hsl(200, 80%, 40%); }  // Label (private: etc.).
  .n, .na, .nc  { color: hsl(180, 60%, 30%); }  // Name.
  .vg           { color: hsl(150, 80%, 40%); }  // Type name.
  .nb           { color: hsl(200, 90%, 45%); }  // Built-in name ("this", etc.).

  // Snippets of code before and after real code to show where to insert it.
  .fade { color: $warm-80; }
}

// On a not-entirely-large screen, don't show the fixed nav on the left.
@media only screen and (max-width: 1344px) {
  nav.wide { display: none; }
  nav.floating { display: block; }

  body {
    margin: 0 24px;
  }

  .page {
    position: relative;
    width: inherit;
    max-width: $col * 19;
    margin: 0 auto;
  }

  article {
    width: inherit;
    margin-right: $col * 7;
  }
}

// Tablets and mobile go single column.
@media only screen and (max-width: $col * 20) {
  body {
    margin: 0;
  }

  .page {
    max-width: $col * 12;
  }

  nav.floating {
    display: none;
  }

  nav.narrow {
    display: block;
  }

  .page {
    margin: 0 $col;
    width: inherit;
  }

  article {
    margin: 0;

    // Size wide images to fit inside the column again.
    img.wide {
      width: inherit;
      max-width: 100%;
    }
  }

  aside {
    position: inherit;
    right: inherit;
    width: inherit;

    border-bottom: solid 1px $light;

    p:first-child {
      margin-top: 8px;
    }

    p:last-child {
      margin-bottom: 8px;
    }

    // Make sure aside images don't get too big when the asides are inlined
    // in single column mode.
    img {
      display: block;
      max-width: $col * 6;
      margin: 0 auto;
    }
  }

  .source-file {
    position: relative;
    left: 0;
    width: inherit;
    text-align: right;
    margin-top: -10px;
    padding: 0 0 14px 0;

    &::before {
      content: none;
    }
  }
}

// Then bring the margins in some.
// The cut-off sizes here are based on trying to get 72 columns of code to fit.
@media only screen and (max-width: 630px) {
  .page {
    margin: 0 $col / 2;
    width: inherit;
  }

  nav.narrow {
    .prev, .next {
      padding: 0 $col / 2;
    }
  }
}

// Finally, shrink the grid to 22px and shrink the text.
@media only screen and (max-width: 580px) {
  body {
    font-size: 15px;
    line-height: 22px;
  }

  .scrim {
    background: url('rows-22.png');
  }

  nav.narrow {
    img {
      padding: 9px 0 1px 0;
      height: 27px;
    }

    .prev, .next {
      top: 11px;
    }
  }

  article {
    h1 {
      font-size: 36px;
      padding: 100px 0 14px 0;
    }

    h1.part {
      font-size: 30px;
      padding: 97px 0 17px 0;
    }

    .number {
      top: 61px;
      font-size: 72px;
    }

    p {
      margin: 22px 0;
    }

    ol, ul {
      margin: 22px 0;
      padding: 0 0 0 22px;
    }
  }

  blockquote {
    margin: 27px 0 28px 0;

    &::before, &::after {
      top: -17px;
      font-size: 52px;
    }

    p {
      margin: 0 22px;
      font-size: 20px;
      line-height: 33px;
    }
  }
}
