article.chapter {
  h2 {
    font: 600 30px/24px $serif;
    margin: 69px 0 0 0;
    padding-bottom: 3px;

    small {
      font: 800 22px/24px $serif;
      float: right;
    }
  }

  h3 {
    font: italic 24px/24px $serif;
    margin: 71px 0 0 0;
    padding-bottom: 1px;

    small {
      font: 600 16px/24px $serif;
      float: right;
    }
  }

  h2 a, h3 a {
    color: #222;
    border-bottom: none;
  }

  h2 a:hover, h3 a:hover {
    border-bottom: none;
    color: inherit;
  }

  h2 a::before, h3 a::before {
    position: absolute;
    left: -$col;
    width: $col;
    content: "\000A7";
    color: #fff;
    transition: color 0.2s ease;
    text-align: center;
  }

  h2 a:hover::before, h3 a:hover::before {
    color: #ddd;
  }

  .challenges {
    background: $lighter;
    border-radius: 6px;
    padding: 12px 12px 4px 12px;
    margin: 28px 0 0 0;

    h2 {
      margin: 0 0 -12px 0;
      padding: 6px 0 2px 6px;
      font: 600 18px/24px $nav;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ol {
      // Cancel out the bottom margin of the paragraph in the last list item.
      margin-bottom: -12px;
    }
  }
}

// Then bring the margins in some.
// The cut-off sizes here are based on trying to get 72 columns of code to fit.
@media only screen and (max-width: 630px) {
  article.chapter {
    h2 a::before, h3 a::before {
      left: -($col / 2);
      width: $col / 2;
    }
  }
}

// Finally start shrinking text.
@media only screen and (max-width: 580px) {
  article.chapter {
    h2 {
      margin-top: 64px;
      padding-bottom: 2px;
      font-size: 22px;
      line-height: 22px;
    }

    h3 {
      margin-top: 64px;
      padding-bottom: 0;
      font-size: 20px;
    }

    .exercises {
      padding: 11px 11px 4px 11px;
      margin: 25px 0 0 0;

      h2 {
        padding: 5px 0 4px 6px;
        font-size: 17px;
        line-height: 22px;
      }
    }
  }
}
