article.contents {
  h2 {
    margin: 22px 0 6px 0;
    font: 600 normal 18px/24px $nav;
    text-transform: uppercase;
    letter-spacing: 1px;

    .num {
      display: inline-block;
      width: 36px;
    }
  }

  ul {
    margin: -12px 0 0 0;
    padding: 6px 0 14px 0;
  }

  li {
    padding: 12px 0 0 36px;
    font: normal 16px/24px $nav;
    color: $gray-60;

    list-style-type: none;

    .num {
      display: inline-block;
      letter-spacing: 1px;
      width: 36px;
    }

    a {
      font: 600 17px/24px $nav;
    }
  }

  li.design-note {
    padding-top: 0;

    a {
      font: 400 16px/23px $nav;
    }
  }

  a.not-written {
    padding-left: 4px;
    font: 400 14px/12px $nav;
    color: $light;
    border: none;
  }

  .topic {
    white-space: nowrap;
  }

  .topic::after {
    content: "\000A0\000b7 "; // nbsp; middot; space.
  }

  .topic:last-child::after {
    content: "";
  }
}

// Then bring the margins in some.
// The cut-off sizes here are based on trying to get 72 columns of code to fit.
@media only screen and (max-width: 630px) {
  article.contents {
    h2 .num {
      width: 33px;
    }

    ol, ul {
      margin-left: 33px;
    }

    li {
      padding-left: 11px;
    }
  }
}

// Finally start shrinking text.
@media only screen and (max-width: 580px) {
  article.contents {
    h2 {
      margin: 19px 0 6px 0;
      font-size: 17px;
      line-height: 22px;
    }

    h3 {
      padding: 1px 0 2px 0;
      font-size: 17px;
      line-height: 22px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
    }

    ol, ul {
      padding-bottom: 8px;
    }

    li {
      font-size: 14px;
      line-height: 22px;
      padding: 4px 0 3px 11px;
    }
  }
}
