{% include 'header.html' %}

<nav class="wide">
  <a href="/"><img src="image/logotype-small.png" title="Crafting Interpreters"></a>
  <div class="contents">
    {% include 'nav.html' %}
  </div>
</nav>

<nav class="narrow">
<a href="/"><img src="image/logotype-small.png" title="Crafting Interpreters"></a>
{% if prev %}
<a href="{{ prev|file }}.html" title="{{ prev }}" class="prev">←</a>
{% endif %}
{% if next %}
<a href="{{ next|file }}.html" title="{{ next }}" class="next">→</a>
{% endif %}
</nav>

<div class="page">
<div class="nav-wrapper">
<nav class="floating">
  <a href="/"><img src="image/logotype-small.png" title="Crafting Interpreters"></a>
  <div class="expandable">
    {% include 'nav.html' %}
  </div>
  <a id="expand-nav">≡</a>
</nav>
</div>

<article class="chapter">

{% if number %}
  <div class="number">{{ number }}</div>
{% endif %}
{% if part %}
  <h1>{{title}}</h1>
{% else %}
  <h1 class="part">{{title}}</h1>
{% endif %}

<div class="sign-up">
  {%if body %}
    <h1>This book is a work in progress!</h1>
  {% else %}
    {% if part %}
      <h1>I haven't written this chapter yet!</h1>
    {% else %}
      <h1>I haven't written this page yet!</h1>
    {% endif %}
  {% endif %}
  <span class="dismiss">&times;</span>
  {%if body %}
    <p>If you see a mistake, find something unclear, or have a suggestion, please <a href="https://github.com/munificent/crafting-interpreters/issues" target="_blank">file a ticket</a>. To know when new chapters are up, join the mailing list:</p>
  {% else %}
    <p>If you want to know when it goes online, join the mailing list:</p>
  {% endif %}

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="//gameprogrammingpatterns.us7.list-manage.com/subscribe/post?u=0952ca43ed2536d6717766b88&amp;id=6e96334109" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0952ca43ed2536d6717766b88_6e96334109" tabindex="-1" value=""></div>
    <input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
  </div>
  <!--End mc_embed_signup-->
  <p class="small">(I post about once a month. Don&#8217;t worry, I won&#8217;t spam you.)</p>
</div>

{%if body %}
  {{ body }}
{% else %}
  {% if part %}
    <p>This chapter hasn't been written yet! :(</p>
  {% else %}
    <p>This part hasn't been written yet! :(</p>
  {% endif %}
{% endif %}

<footer>&copy; 2016 Robert Nystrom</footer>
</article>

{% include 'footer.html' %}
