<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{{title}} &middot; Crafting Interpreters</title>

<!-- Tell mobile browsers we're optimized for them and they don't need to crop
     the viewport. -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="style.css" />

<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic|Source+Code+Pro:400|Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

<script src="jquery-1.10.1.min.js"></script>
<script src="script.js"></script>

</head>
<body id="top">

<!--
<div class="scrim"></div>
-->

<nav class="wide">
<h1><a href="/">Crafting Interpreters</a></h1>
<div class="contents">
  <h2>Table of Contents</h2>
  {% include 'toc.html' %}
</div>
</nav>

<nav class="narrow">
<h1><a href="/">Crafting Interpreters</a></h1>
{% if prev %}
<a href="{{ prev|file }}.html" title="{{ prev }}" class="prev">←</a>
{% endif %}
{% if next %}
<a href="{{ next|file }}.html" title="{{ next }}" class="next">→</a>
{% endif %}
</nav>

<div class="page">
<div class="nav-wrapper">
<nav class="floating">
  <h1><a href="/">Crafting Interpreters</a></h1>
  <div class="expandable">
    {% include 'toc.html' %}
  </div>
  <a id="expand-nav">≡</a>
</nav>
</div>

<article>
<h1>{{title}}</h1>
{{body}}
<footer>&copy; 2016 Robert Nystrom</footer>
</article>
</div>
</body>
</html>
