{% if part %}
<!-- If there is a part, it must be a chapter within a part. -->
<h3><a href="#top"><small>{{ number }}.</small> {{ title }}</a></h3>

<ul>
  {% if sections %}
  {% for section in sections %}
    <li><a href="#{{ section|file }}">{{ section }}</a></li>
  {% endfor %}
  {% else %}
    <em>No sections yet&hellip;</em>
  {% endif %}
</ul>

{% elif title %}
<!-- A title with no part means it's a part chapter. -->
<h2><small>{{ number }}.</small> {{ title }}</h2>

<ol start="{{ first_chapter }}">
  {% for chapter in chapters %}
    <li><a href="{{ chapter|file }}.html">{{ chapter }}</a></li>
  {% endfor %}
</ol>

{% endif %}

<div class="prev-next">
  {% if prev %}
    <a href="{{ prev|file }}.html" title="{{ prev }}">←&nbsp;Previous</a>
  {% endif %}
  {% if next %}
    <a href="{{ next|file }}.html" title="{{ next }}" class="right">Next&nbsp;→</a>
  {% endif %}
</div>
