/*
NO Lora:400,700,400italic,700italic
NO Noto+Serif:400,700,400italic,700italic
NO Bitter:400,700,400italic
YES PT+Serif:400,700,400italic,700italic
MEH Libre+Baskerville:400,700,400italic
MEH Crimson+Text:400,400italic,600,600italic,700,700italic
Cardo:400,400italic,700
Source+Serif+Pro:400,600,700

NO Cutive+Mono
Fira+Mono:400,700
Oxygen+Mono
YES PT+Mono
YES Cousine:400,700,400italic,700italic
Inconsolata:400,700

Noto Sans
Lato
Cabin
PT Sans
PT Sans Narrow
Arimo
Oxygen
Signika
Archivo Narrow
*/
body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; }

body {
  color: #222;
  font: normal 16px/24px "PT Serif", Georgia, serif; }

.page {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  background: #888; }

.content {
  width: 500px;
  padding-right: 30px;
  background: white; }

aside, pre {
  position: absolute;
  right: 0;
  width: 500px;
  padding: 15px;
  background: #eee;
  font: normal 14px/20px "PT Serif", Georgia, serif; }

code {
  font: normal 15px "Droid Sans Mono", Menlo, Consolas, Monaco, monospace;
  white-space: nowrap; }

pre {
  font: normal 13px/20px "Droid Sans Mono", Menlo, Consolas, Monaco, monospace;
  background: #333;
  color: #bbb;
  overflow: auto; }

.codehilite .k {
  color: #d1478c; }

.codehilite .kd {
  color: #d1478c; }

.codehilite .kt {
  color: #09a; }

.codehilite .s {
  color: #c70; }

.codehilite .sc {
  color: #c70; }

.codehilite .s2 {
  color: #c70; }

.codehilite .c {
  color: #999; }

.codehilite .c1 {
  color: #999; }

.codehilite .cm {
  color: #999; }

.codehilite .cp {
  color: #594; }

.codehilite .nl {
  color: #d1478c; }

.codehilite .nt {
  color: #d1478c; }

.codehilite .err {
  color: #d1478c; }
